@import "sections/header/header";
@import "sections/intro/intro";
@import "sections/posts/posts";
@import "sections/post/post";
@import "sections/menu/menu";
@import "sections/popup/popup";


@import "blanks/button";




* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    input, textarea, select {
        -webkit-appearance: none;
    }
}

body {
    background-color: #131313;
    &.no-scroll {
        overflow: hidden;
    }
}

.container {
    // max-width: 320px;
    margin: 0 auto;
    padding: 0 15px;

    @media screen and (min-width:370px){
        // max-width: 340px;
    }

    @media screen and (min-width:450px){
        // max-width: 420px;
    }

    @media screen and (min-width:768px){
        padding: 0 51px;
    }

    @media screen and (min-width:850px){
        // max-width: 820px;
    }

    @media screen and (min-width:1024px){
    }

    @media screen and (min-width:1380px){
        padding: 0 100px;
        // max-width: 1200px;
    }

    @media screen and (min-width:1500px){
        // max-width: 1330px;
    }

    @media screen and (min-width:1800px){
        // max-width: 1720px;
    }
}
