@import "sections/header/header";
@import "sections/intro/intro";
@import "sections/posts/posts";
@import "sections/post/post";
@import "sections/menu/menu";
@import "sections/popup/popup";

@import "blanks/button";

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    input, textarea, select {
        -webkit-appearance: none;
    }
}

body {
    background-color: #131313;
    &.no-scroll {
        overflow: hidden;
    }
}

.container {
    margin: 0 auto;
    padding: 0 15px;

    @media screen and (min-width:768px){
        padding: 0 51px;
    }

    @media screen and (min-width:1380px){
        padding: 0 100px;
    }
}
